
  
<form class="form-signin" action="index.php" method="post">
  <input type="hidden" id="section" name="section" value="contact">
  <input type="hidden" id="action" name="action" value="sumbitContactForm">
<img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">

<h1 class="h3 mb-3 fw-normal">

  <?php echo $pageObj->title; ?>

</h1>
<p>

  <?php echo $pageObj->content; ?>

</p>

<div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating m-2">
  <textarea  class="form-control" id="comment" name="comment"></textarea>
  <label for="comment">Message</label>
</div>


<button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
<p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</form>

